@import '../../../../styles/tools';

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mpl-c-header {
  display: flex;
  justify-content: space-between;

  &__nav-items {
    a {
      @include mpl-t-font;
      color: #f1f1f1;
    }

    &--selected {
      a {
        color: #fff;
      }
    }
  }

  &__search {
    width: 20%;
  }
}
