<p>
  <mat-toolbar color="primary" class="mpl-c-header">
    <a routerLink="/">Mployee</a>
    <nav class="navbar mpl-c-header__nav-items">
      <a class="mr-3" href="#">Dashboard</a>
      <a class="mr-3" href="#">Relocate</a>
      <a class="mr-3" href="#">Directory</a>
      <a class="mr-3" href="#">Projects</a>
      <a class="mr-3" href="#">Technology</a>
    </nav>

    <div class="input-group input-group-sm mpl-c-header__search">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="Search for employees"
      />
    </div>

    <button mat-mini-fab color="primary">JD</button>
  </mat-toolbar>
</p>
