<div>
  <label>{{ label }}</label>
  <div class="d-flex">
    <div class="mpl-c-range-slider__min">
      <mat-slider
        color="primary"
        [(ngModel)]="selectedMin"
        [min]="min"
        [max]="max / 2"
        [step]="1"
        class="p-0"
        [thumbLabel]="true"
        (change)="onRangeChange()"
      ></mat-slider>
    </div>
    <mat-slider
      color="primary"
      [(ngModel)]="selectedMax"
      [min]="max / 2"
      [max]="max"
      [step]="1"
      class="p-0"
      [thumbLabel]="true"
      (change)="onRangeChange()"
    ></mat-slider>
  </div>
</div>
