<div class="container-fluid mpl-c-dashboard">
  <div class="row flex-grow-1">
    <div class="col-3 mpl-c-dashboard__search-box p-2">
      <mpl-employee-filter></mpl-employee-filter>
    </div>
    <div class="col-9 mpl-c-dashboard__result-box p-2">
      
      <!-- <div
        class="spinner-border text-primary"
        role="status"
        *ngIf="isDataLoading"
      >
        <span class="sr-only">Loading...</span>
      </div> -->
      <div class="row">
        <div class="col">
          list of employees
        </div>
      </div>
    </div>
  </div>
</div>
