<div class="mpl-c-employee-filter">
  <p class="mpl-c-employee-filter__header">Filter by</p>
  <div class="p-3" *ngIf="!isFilterCriteriaLoading">
    <div class="mb-4">
      <mpl-select
        label="Technology"
        [multiple]="true"
        [selectData]="employeeFilterCriteria.technologies"
        [selectedData]="selectedEmployeeFilterCriteria.technologies"
        (change)="onTechnologyChange($event)"
      ></mpl-select>
    </div>

    <div class="mb-4">
      <mpl-select
        label="Skills"
        [multiple]="true"
        [selectData]="employeeFilterCriteria.skills"
        [selectedData]="selectedEmployeeFilterCriteria.skills"
        class="mb-3"
        (change)="onSkillsChange($event)"
      ></mpl-select>
    </div>

    <div class="mb-4">
      <mpl-range-slider
        label="Total Experience"
        [min]="0"
        [max]="20"
        [selectedMin]="selectedEmployeeFilterCriteria.minExperience"
        [selectedMax]="selectedEmployeeFilterCriteria.maxExperience"
        class="mb-3"
        (rangeChange)="onExperienceChange($event)"
      ></mpl-range-slider>
    </div>

    <div class="mb-4">
      <mpl-select
        label="Location"
        [multiple]="true"
        [selectData]="employeeFilterCriteria.locations"
        [selectedData]="selectedEmployeeFilterCriteria.locations"
        class="mb-3"
        (change)="onLocationChange($event)"
      ></mpl-select>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-flat-button (click)="resetFilters()">Cancel</button>
      <button mat-flat-button color="primary" (click)="filterEmployees()">
        Done
      </button>
    </div>
  </div>
</div>
